.text-hover:hover
{
    color: #CF3079 !important;
    font-weight: 600;

}

@keyframes flipIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flip {
  animation: flipIcon 2s linear infinite;
}
