.tagline-fade {
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.typewriter-text {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  padding-right: 5px;
  animation: typing 3s steps(40, end) forwards;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.nav-home
{
    border-bottom: 3.2px solid #CF3079 !important;
    position: relative;
    color: black; /* Default text color */
    text-decoration: none;
    padding: 9px 3px;
}

.nav-det{
    position: relative;
    color: black; /* Default text color */
    text-decoration: none;
    padding: 9px 3px;
}

.nav-det:hover
{
    color: #000000;
    font-weight: 700;
    /* background-color: rgba(217, 217, 217, 0.322); */
}

.nav-det::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -2px;
  background-color: #CF3079;
  transition: width 0.3s ease;
}

.nav-det:hover::after {
  width: 100%;
}

.menu-hover {
  position: relative;
  color: black; /* Default text color */
  text-decoration: none;
}

.search-hover
{
  background-color:#a71f59 ;
}

.search-hover:hover
{

 background-color:rgb(0, 92, 145)
}
